@use 'global' as *;

.campaign-card {
	box-shadow: rem(2) rem(2) rem(8) rgba(0,0,0,0.25);
	display: flex;
	flex-direction: column;
	height: auto;
}

.campaign-card__img {
	aspect-ratio: 280 / 188;
	@include mq(md){
		aspect-ratio: 334 / 223;
	}
}

.campaign-card__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.campaign-card.campaign-card--side .campaign-card__img {
	aspect-ratio: 294 / 188;
	height: rem(188);
}

.campaign-card__body {
	padding: rem(16) rem(16) rem(24);
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: 100%;
	@include mq(md){
		padding: rem(24) rem(16) rem(40);
	}
}

.campaign-card.campaign-card--side .campaign-card__body {
	padding: rem(17) rem(23) rem(24);
}

.campaign-card.campaign-card--page .campaign-card__body {
	@include mq(md){
		padding: rem(23) rem(24) rem(40);
	}
}

.campaign-card__category {
	display: inline-block;
	padding: rem(4) rem(11);
	font-size: rem(12);
	line-height: calc(22 / 12);
	font-weight: $regular;
	color: $green1;
	border: 1px solid $green1;
	@include mq(md){
		padding: rem(6) rem(14.8);
	}
}

.campaign-card.campaign-card--page .campaign-card__category {
	padding: rem(2) rem(12);
	@include mq(md){
		padding: rem(5) rem(14.8);
	}
}

.campaign-card__title {
	font-size: rem(16);
	margin-top: rem(4);
	font-weight: $medium;
	line-height: 1.46;
	flex-grow: 1;
}

.campaign-card.campaign-card--page .campaign-card__title {
	margin-top: rem(6);
	flex-grow: 0;
	@include mq(md){
		margin-top: rem(4);
		font-size: rem(24);
	}
}

.campaign-card.campaign-card--side .campaign-card__title {
	margin-top: 0;
	text-align: center;
}

.campaign-card__wrap {
	border-top: 1px solid $green1;
	margin-top: rem(7);
	padding: rem(10) rem(18) 0;
	@include mq(md){
		padding: rem(16) rem(18) 0;
	}
}

.campaign-card.campaign-card--side .campaign-card__wrap {
	margin-top: rem(8);
	padding: rem(9) rem(18) 0;
}

.campaign-card.campaign-card--page .campaign-card__wrap {
	margin-top: rem(8);
	padding: rem(10) rem(18) 0;
	@include mq(md){
		margin-top: rem(4);
		padding: rem(23) rem(18) 0;
	}
}

.campaign-card__text {
	font-size: rem(14);
	font-weight: $regular;
	line-height: calc(24 / 16);
	text-align: center;
	@include mq(md){
		font-size: rem(16);
		margin-right: rem(18);
	}
}

.campaign-card.campaign-card--side .campaign-card__text {
	@include mq(md){
		font-size: rem(14);
		margin-right: 0;
	}
}

.campaign-card__price {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin-top: rem(8);
	gap: rem(16);
	@include mq(md){
		gap: rem(24);
	}
}

.campaign-card.campaign-card--side .campaign-card__price {
	@include mq(md){
		gap: rem(16);
	}
}

.campaign-card.campaign-card--page .campaign-card__price {
	gap: rem(18);
	@include mq(md){
		gap: rem(40);
	}
}

.campaign-card__price-before {
	font-size: rem(20);
	line-height: 1;
	font-weight: $bold;
	font-family: $english2-font-family;
	position: relative;
	@include mq(md){
		font-size: rem(24);
		line-height: 1.2;
	}
}

.campaign-card.campaign-card--side .campaign-card__price-before {
	@include mq(md){
		font-size: rem(20);
		line-height: 1;
	}
}

.campaign-card__price-before::after {
	display: inline-block;
	content: "";
	width: 100%;
	height: rem(3);
	background-color: $red;
	position: absolute;
	top: 38%;
	left: 0;
	@include mq(md){
		top: 46%;
		left: rem(2);
	}
}

.campaign-card.campaign-card--side .campaign-card__price-before::after {
	@include mq(md){
		top: 38%;
		left: 0;
	}
}

.campaign-card__price-after {
	font-size: rem(32);
	line-height: 1;
	font-weight: $bold;
	font-family: $english2-font-family;
	color: $green1;
	@include mq(md){
		font-size: rem(40);
	}
}

.campaign-card.campaign-card--side .campaign-card__price-after {
	@include mq(md){
		font-size: rem(32);
	}
}

.campaign-card__detail-text {
	@include mq(md){
		margin-top: rem(24);
		line-height: calc(24 / 16);
		font-weight: 400;
		flex-grow: 1;
	}
}

.campaign-card__period {
	@include mq(md){
		color: $green1;
		line-height: calc(18 /16);
		font-weight: 700;
		text-align: center;
		font-family: $english2-font-family;
		margin-top: rem(32);
	}
}

.campaign-card__contact-text {
	@include mq(md){
		color: $green1;
		font-size: rem(14);
		line-height: calc(18 / 14);
		font-weight: 400;
		text-align: center;
		margin-top: rem(7);
	}
}

.campaign-card__btn {
	@include mq(md){
		text-align: center;
		margin-top: rem(16);
	}
}

