@use "global" as *;

.contact-body.fish-icon::before {
	top: rem(-24);
	@include mq(md){
		left: calc(50% - min(49vw, 38.7625rem));
    top: rem(-71);
	}
}

.contact-body__inner.inner {
	max-width: rem(700);
}