@use "global" as *;

.js-container {
	display: none;
	opacity: 0;
	visibility: hidden;
}

.loading {
	width: 100%;
	height: 100vh;
	height: 100dvh;
	background: transparent;
	position: fixed;
}

.loading__title-wrap {
	color: $green1;
}

.loading__title-wrap--white {
	color: $white;
	width: 100%;
}

.loading__title-wrap,
.loading__title-wrap--white {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.loading__title,
.loading__title--white {
	font-size: rem(40);
	letter-spacing: 0.54em;
	text-indent: 0.5em;
	font-weight: $regular;
	font-family: $english2-font-family;
	text-transform: uppercase;
	@include mq(md){
		font-size: rem(80);
		line-height: calc(100 / 80);
	}
}

.loading__title-sub,
.loading__title-sub--white {
	font-size: rem(20);
	font-family: $english-font-family;
	font-weight: $regular;
}

.loading__img {
	width: 100%;
	height: inherit;
}

.loading__img-left,
.loading__img-right {
	width: 50%;
	height: inherit;
	aspect-ratio: 187.5 / 667;
	
	@include mq(md){
		aspect-ratio: 720 / 768;
	}
}

.loading__img-left img,
.loading__img-right img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.loading__img-left {
	position: absolute;
	top: 0;
	left: 0;
}

.loading__img-left img {
	object-position: right;
}

.loading__img-right {
	position: absolute;
	top: 0;
	left: 50%;
}

.loading__img-right img {
	object-position: left;
}

// .loading__img-right img {
// 	object-position: center bottom;
// }

.loading__title--white span {
	display: inline-block;
}
