@use "global" as *;

.pagination-wrap {
	display: flex;
	justify-content: center;
	gap: rem(40);
}

.pagination-wrap.pagination-wrap--single {
	gap: rem(82);
	@include mq(md){
		margin-right: rem(31);
	}
}

.pagination-wrap__items,
.wp-pagenavi {
	display: flex;
	justify-content: center;
	gap: rem(12);
}

.pagination-wrap__item,
.wp-pagenavi span,
.wp-pagenavi .page {
	width: rem(38);
	height: rem(38);
	border: 1px solid $green1;
	color: $green1;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: background .4s, color .4s;
}

.pagination-wrap__item.current,
.wp-pagenavi span.current {
	color: #fff;
	background: $green1;
}

.pagination-wrap__item:hover,
.wp-pagenavi span:hover,
.wp-pagenavi .page:hover {
	color: $white;
	background: $green1;
}

.pagination-wrap__item.current:hover,
.wp-pagenavi span.current:hover {
	color: $green1;
	background: $white;
}

.pagination-wrap__prev,
.pagination-wrap__next,
.wp-pagenavi .previouspostslink,
.wp-pagenavi .nextpostslink,
.pager__after-page {
	width: rem(38);
	height: rem(38);
	border: 1px solid $green1;
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
	transition: background .4s;
}

.pagination-wrap__prev::before,
.pagination-wrap__next::before,
.wp-pagenavi .previouspostslink::before ,
.wp-pagenavi .nextpostslink::before {
	content: "";
	width: rem(10);
	height: rem(10);
	border-top: 1px solid $green1;
	border-left: 1px solid $green1;
	position: absolute;
	transition: border-color .4s;
}

.pagination-wrap__prev::before,
.wp-pagenavi .previouspostslink::before,
.wp-pagenavi .nextpostslink::before {
	transform: rotate(-45deg);
	left: 42%;
}

.pagination-wrap__next::before,
.wp-pagenavi .nextpostslink::before {
	transform: rotate(135deg);
	left: 31%;
}

.pagination-wrap__prev:hover,
.pagination-wrap__next:hover,
.wp-pagenavi .previouspostslink:hover,
.wp-pagenavi .nextpostslink:hover {
	background: $green1;
}

.pagination-wrap__prev:hover::before,
.pagination-wrap__next:hover::before,
.wp-pagenavi .previouspostslink:hover::before,
.wp-pagenavi .nextpostslink:hover::before {
	border-color: $white;
}