@use "global" as *;

.price-body__inner.inner {
	max-width: rem(700);
}

.price-body__content.fish-icon::before {
	top: rem(-24);
	@include mq(md){
		left: calc(50% - min(49vw, 38.6625rem));
    top: rem(-71.2);
	}
}