@use "global" as *;

.price {
	background: $green2;
	position: relative;
}

.price__inner {
	max-width: rem(600);
}

.price::after {
	@include mq(md){
		display: inline-block;
		content: '';
		width: rem(437);
		height: rem(201);
		background: url(../images/common/fish01.png) no-repeat;
		background-size: contain;
		position: absolute;
		bottom: rem(60);
		left: calc(50% - min(50vw, rem(620)));
	}
}

.price__content {
	margin-top: rem(27);
	@include mq(md){
		margin-top: rem(40);
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
	}
}

.price__img {
	@include mq(md){
		width: 50%;
		margin-left: rem(93);
	}
}

.price__img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 345 / 227;
	@include mq(md){
		aspect-ratio: 492 / 746;
	}
}

.price__body {
	margin-top: rem(40);
	@include mq(md){
		margin-top: 0;
		width: 50%;
	}
}

.price__list:nth-child(n+2) {
	margin-top: rem(40);
	@include mq(md){
		margin-top: rem(38);
	}
}

.price__list-title {
	font-size: rem(16);
	line-height: 1.54;
	font-weight: $bold;
}

.price__list-item {
	border-top: 1px solid $green1;
	font-size: rem(14);
	line-height: 1.7142857;
	margin-top: rem(3);
	font-weight: $regular;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	@include mq(md){
		font-size: rem(16);
	}
}

.price__list-item dt {
	margin-top: rem(8);
	width: 73%;
	@include mq(md){
		margin-top: rem(5);
		width: 60%;
	}
}

.price__list-item dd {
	margin-top: rem(8);
	width: 27%;
	text-align: right;
	@include mq(md){
		margin-top: rem(5);
		width: 40%;
	}
}

.price__link {
	text-align: center;
	margin-top: rem(40);
	@include mq(md){
		margin-top: rem(78);
	}
}