@use "global" as *;

.section-title {
	text-align: center;
}

.section-title__main {
	font-size: rem(32);
	font-weight: $regular;
	font-family: $english-font-family;
	line-height: calc(40 / 32);
	text-transform: capitalize;
	display: inline-block;
	@include mq(md){
		font-size: rem(40);
	}
}

.section-title__main::first-letter {
	color: $green1;
}

.section-title__sub {
	display: block;
	font-size: rem(12);
	font-weight: $regular;
	font-family: $base-font-family;
	// font-family: $ja-font;
	line-height: calc(18 / 12);
	color: $green1;
	margin-top: rem(4);
}

.section-title__main--white,
.section-title__sub--white {
	@include mq(md){
		color: $white;
	}
}

.section-title__main--white::first-letter {
	@include mq(md){
		color: $green2;
	}
}

.section-title__main.section-title__main--contact {
	font-size: rem(80);
	line-height: 1;
}

.section-title__sub.section-title__sub--contact {
	margin-top: rem(-5);
}