@use "global" as *;



.side-heading__title {
	font-size: rem(24);
	font-weight: $normal;
	position: relative;
	padding-left: rem(74);
	border-left: 8px solid $green1;
	height: rem(46);
	display: flex;
	align-items: center;
}

.side-heading__title::before {
	display: inline-block;
	content: '';
	width: rem(50);
	height: rem(50);
	background: url(../images/common/whale.png) no-repeat;
	background-size: contain;
	position: absolute;
	top: 50%;
	left: rem(16);
	transform: translateY(-50%);
	@include mq(md){
		top: 44%;
	}
}